{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block  title %}
        <title>QUERY_PLATFORM</title>
    {% endblock %}
{% block head %}
    <!-- Bootstrap theme -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/js/jquery-3.1.1.min.js' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/js/bootstrap.min.js' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jeDate/jedate.js' %}"></script>
{% endblock %}


</head>
<body>
{%block nav%}
    {% include "include/nav.html" %}
{% endblock %}

<div class="container-fluid">
    <div class ="row">
        {% include "include/sidebar.html" %}
        <div class="col-md-10 main ">
            <!--Body content-->
            <h1 style="font-size:25px">{% block name %}欢迎使用数据库管理平台 {% endblock %}</h1>

            <!-- 载入左侧菜单指向的jsp（或html等）页面内容 -->
            <div id="content">
                {%block content%}

                {% endblock %}

            </div>
        </div>

    </div>
</div>
{% block foot %}
    {% include "include/foot.html" %}
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>