{% extends "include/base.html" %}
{% block title %}
    <title>MySQL_QUERY</title>
{% endblock %}
{% block name %}
    欢迎使用MySQL数据库查询功能
{% endblock %}
{%block content%}
    <form role="form" method='post'>
        {% csrf_token %}
        <div id="grid_table"></div>
        <table >
            <tr>
                <td>
                    CHOOSE DB:
                    {%  if choosed_host %}
                        <select class="form-control col-md-1" name = "cx">
                            <option value ="{{ choosed_host }}">{{ choosed_host }}</option>
                        </select></br>
                        <a href="/mysql_query/"><input type="button" value="重新选库" class="btn btn-danger"></a>
                    {% else %}
                        <select class="form-control col-md-1" name = "cx">
                            {% for obj in objlist %}
                                <option value ="{{ obj }}">{{ obj }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    </br> </br>
                </td>
            </tr>
        </table>

        SQL:</br>
        {{ form.a }} </br> </br>
        <button type="submit"  class="btn btn-primary">提交</button >
        <button type="submit" name='explain' class="btn btn-info" value="1">查看执行计划</button>
    </form >
    <table  class="table table-condensed" border="1">
        <tr class="danger">
            {% if col %}
                QUERY IN:{{ choosed_host }}
            {% endif %}
        </tr>
    </table>
    <table id="table" class="table table-condensed" border="1">

        <thead>
        <tr class="danger">
            {% for colname in col %}
                <th>{{ colname }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in data_list %}
            <tr>
                {% for item_detail in item %}
                    <td> {{ item_detail }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(function(){
            var $table=$('#table');//获取表格对象
            var currentPage=0;//设置当前页默认值为
            var pageSize=20;//设置每一页要显示的数目
            $table.bind('paging', function () {
                $table.find('tbody tr').hide().slice(currentPage*pageSize,(currentPage+1)*pageSize).show();
//先将tbody中所有的行隐藏，再通过slice结合当前页数和页面显示的数目展现数据
            });
            var sumRows=$table.find('tbody tr').length;//获取数据总行数
            var sumPages=Math.ceil(sumRows/pageSize);//得到总页数
            var $pager=$('<div class="page"></div>');
            for(var pageIndex=0;pageIndex<sumPages;pageIndex++){
                $('<a href="#"><span>'+(pageIndex+1)+'</span></a>').bind("click",{"newPage":pageIndex},function(event){
                    currentPage=event.data["newPage"];
                    $table.trigger("paging");
//为每一个要显示的页数上添加触发分页函数
                }).appendTo($pager);
                $pager.append(" ");
            }
            $pager.insertAfter($table);
            $table.trigger("paging");
        });
    </script>
{% endblock %}