{% extends "include/base.html" %}
{% block title %}
    <title>MySQL_QUERY</title>
{% endblock %}
{% block name %}
    欢迎使用MySQL数据库查询功能
{% endblock %}
{%block content%}
    <form role="form" method='post'>
        {% csrf_token %}
        <div id="grid_table"></div>
        <table >
            <tr>
                <td>
                    CHOOSE DB:
                    {%  if choosed_host %}
                        <select class="form-control col-md-1" name = "cx">
                            <option value ="{{ choosed_host }}">{{ choosed_host }}</option>
                        </select></br>
                        <a href="/mysql_query/"><input type="button" value="重新选库" class="btn btn-danger"></a>
                    {% else %}
                        <select class="form-control col-md-1" name = "cx">
                            {% for obj in objlist %}
                                <option value ="{{ obj }}">{{ obj }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    </br> </br>
                </td>
            </tr>
        </table>

        SQL:</br>
        {{ form.a }} </br> </br>
        <button type="submit"  class="btn btn-primary">提交</button >
        <button type="submit" name='explain' class="btn btn-info" value="1">查看执行计划</button>
    </form >
    <table  class="table table-condensed" border="1">
        <tr class="danger">
            {% if col %}
                QUERY IN:{{ choosed_host }}
            {% endif %}
        </tr>
    </table>
    <table  class="table table-condensed" border="1">

        <thead>
        <tr class="danger">
            {% for colname in col %}
                <th>{{ colname }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody id="table" >
        {% for item in data_list %}
            <tr>
                {% for item_detail in item %}
                    <td> {{ item_detail }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <span id="spanFirst">第一页</span>
    <span id="spanPre">上一页</span>
    <span id="spanNext">下一页</span>
    <span id="spanLast">最后一页</span>
    第<span id="spanPageNum"></span>页/
    共<span id="spanTotalPage"></span>页
{% endblock %}
{% block script %}
    <script type="text/javascript">
        var theTable = document.getElementById("table");
        var totalPage = document.getElementById("spanTotalPage");
        var pageNum = document.getElementById("spanPageNum");
        var spanPre = document.getElementById("spanPre");
        var spanNext = document.getElementById("spanNext");
        var spanFirst = document.getElementById("spanFirst");
        var spanLast = document.getElementById("spanLast");
        var numberRowsInTable = theTable.rows.length;
        var pageSize = 10;
        var page = 1;
        //下一页
        function next() {
            hideTable();
            currentRow = pageSize * page;
            maxRow = currentRow + pageSize;
            if (maxRow > numberRowsInTable) maxRow = numberRowsInTable;
            for (var i = currentRow; i < maxRow; i++) {
                theTable.rows[i].style.display = '';
            }
            page++;
            if (maxRow == numberRowsInTable) { nextText(); lastText(); }
            showPage();
            preLink();
            firstLink();
        }
        //上一页
        function pre() {
            hideTable();
            page--;
            currentRow = pageSize * page;
            maxRow = currentRow - pageSize;
            if (currentRow > numberRowsInTable) currentRow = numberRowsInTable;
            for (var i = maxRow; i < currentRow; i++) {
                theTable.rows[i].style.display = '';
            }
            if (maxRow == 0) { preText(); firstText(); }
            showPage();
            nextLink();
            lastLink();
        }
        //第一页
        function first() {
            hideTable();
            page = 1;
            for (var i = 0; i < pageSize; i++) {
                theTable.rows[i].style.display = '';
            }
            showPage();
            preText();
            nextLink();
            lastLink();
        }
        //最后一页
        function last() {
            hideTable();
            page = pageCount();
            currentRow = pageSize * (page - 1);
            for (var i = currentRow; i < numberRowsInTable; i++) {
                theTable.rows[i].style.display = '';
            }
            showPage();
            preLink();
            nextText();
            firstLink();
        }
        function hideTable() {
            for (var i = 0; i < numberRowsInTable; i++) {
                theTable.rows[i].style.display = 'none';
            }
        }
        function showPage() {
            pageNum.innerHTML = page;
        }
        //总共页数
        function pageCount() {
            var count = 0;
            if (numberRowsInTable % pageSize != 0) count = 1;
            return parseInt(numberRowsInTable / pageSize) + count;
        }
        //显示链接
        function preLink() { spanPre.innerHTML = "<a href='javascript:pre();'>上一页</a>"; }
        function preText() { spanPre.innerHTML = "上一页"; }
        function nextLink() { spanNext.innerHTML = "<a href='javascript:next();'>下一页</a>"; }
        function nextText() { spanNext.innerHTML = "下一页"; }
        function firstLink() { spanFirst.innerHTML = "<a href='javascript:first();'>第一页</a>"; }
        function firstText() { spanFirst.innerHTML = "第一页"; }
        function lastLink() { spanLast.innerHTML = "<a href='javascript:last();'>最后一页</a>"; }
        function lastText() { spanLast.innerHTML = "最后一页"; }

        //隐藏表格
        function hide() {
            for (var i = pageSize; i < numberRowsInTable; i++) {
                theTable.rows[i].style.display = 'none';
            }
            totalPage.innerHTML = pageCount();
            pageNum.innerHTML = '1';
            nextLink();
            lastLink();
        }
        hide();
    </script>
{% endblock %}