{% extends "include/base.html" %}
{% block title %}
    <title>MySQL_QUERY</title>
{% endblock %}
{% block name %}
    欢迎使用MySQL数据库查询功能
{% endblock %}
{%block content%}
    <form role="form" method='post'>
        {% csrf_token %}
        <table >
            <tr>
                <td>
                    CHOOSE DB:
                    {%  if choosed_host %}
                        <select class="form-control col-md-1" name = "cx">
                            <option value ="{{ choosed_host }}">{{ choosed_host }}</option>
                        </select></br>
                        <a href="/mysql_query/"><input type="button" value="重新选库" class="btn btn-danger"></a>
                    {% else %}
                        <select class="form-control col-md-1" name = "cx">
                            {% for obj in objlist %}
                                <option value ="{{ obj }}">{{ obj }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    </br> </br>
                </td>
            </tr>
        </table>

        SQL:</br>
        {{ form.a }} </br> </br>
        <button type="submit"  class="btn btn-primary">提交</button >
        <button type="submit" name='explain' class="btn btn-info" value="1">查看执行计划</button>
    </form >

    <table class="table table-condensed" border="1">
        {% if col %}
            <tr>
                <td>
                    QUERY IN:{{ choosed_host }}
                </td>
            </tr>
        {% endif %}
        <tr class="success">
            {% for colname in col %}
                <th>{{ colname }}</th>
            {% endfor %}
        </tr>
        {% for item in book_list %}
            <tr>
                {% for item_detail in item %}
                    <td> {{ item_detail }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}