{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<h2> test </h2>
<div style="width:200px">
<form action="/url/to/submit/" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
<!--    <button type="submit" class="btn btn-primary"> -->
    <button type="submit" class="btn btn-default"> 
<!--       {% bootstrap_icon "star" %} Submit -->Submit
    </button>
  {% endbuttons %}
</form>
</div>
{# Read the documentation for more information #}